data/raw/
.env
__pycache__/
.dbt/
target/
dbt_packages/
*.pyc
*.pyo
.venv/
venv/
env/
.pytest_cache/
.ruff_cache/
*.egg-info/
dist/
build/
.DS_Store
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/standalone_admin_password.txt
*.sqlite
